name: Python CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest] 
        python-version: ["3.9"] 

    steps:
    - name: Run tests with pytest
      run: |
        python -m unittest circle.py square.py triangle.py
